maven/sourceCode/src/main/app/bus-demo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">

    <context:property-placeholder location="web/version.properties,properties/bus-demo-${env}.properties" />

    <http:listener-config name="bus-demo-httpListenerConfig"  host="${bus-demo.host}" port="${bus-demo.port}" doc:name="bus-demo-httpListenerConfig" usePersistentConnections="false">
        <http:worker-threading-profile maxThreadsActive="${bus-demo.listner.maxThreadsActive}" maxThreadsIdle="${bus-demo.listner.maxThreadsIdle}" threadTTL="${bus-demo.listner.threadTTL}" threadWaitTimeout="${bus-demo.listner.threadWaitTimeout}" maxBufferSize="${bus-demo.listner.maxBufferSize}"/>
    </http:listener-config>

    <!-- =======================================================================
        Set the version 0 of the bus
    ======================================================================== -->
    <apikit:config name="bus-demo-config-v0" raml="bus-demo_v0.raml" consoleEnabled="true" consolePath="console" doc:name="Router" disableValidations="true" />

    <flow name="bus-demo-main-v0" >
        <http:listener config-ref="bus-demo-httpListenerConfig" path="/v0/*" doc:name="HTTP"/>
        <apikit:router config-ref="bus-demo-config-v0" doc:name="APIkit Router" />
        <exception-strategy ref="bus-demo-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <!-- =======================================================================
        GET /version
    ======================================================================== -->
    <flow name="get:/version:bus-demo-config-v0">
        <set-session-variable variableName="startTraitementTime" value="#[System.currentTimeMillis()]" doc:name="startTime" />
        <custom-interceptor class="com.excilys.interceptor.InputInterceptor"/>
        <set-session-variable variableName="apiKey" value="#[message.inboundProperties.'X-API-KEY']" doc:name="apiKey" />
        <set-variable variableName="requestId" value="#[message.inboundProperties.'X-REQUEST-ID']" doc:name="requestId" />
        <flow-ref name="bus-demo-version" doc:name="Flow Reference"/>
        <response>
            <logger message="get:/version took #[System.currentTimeMillis() - sessionVars.startTraitementTime]ms - #[message.outboundProperties.'http.status'] - #[sessionVars.apiKey]" level="INFO" category="timerInfo" doc:name="Logger"/>
        </response>
        <custom-interceptor class="com.excilys.interceptor.OutputInterceptor"/>
    </flow>

    <!-- =======================================================================
    Manage the apiKit exception
======================================================================== -->

    <apikit:mapping-exception-strategy name="bus-demo-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>